BASE_URL=https://www.creerailleurs.com

ADMIN_EMAIL=
ADMIN_PASSWORD=

TEST_EMAIL=
TEST_PASSWORD=

TEST_USER_NAME=
NEW_TEST_EMAIL=
NEW_TEST_PASSWORD=

STRIPE_CARD=4242424242424242
STRIPE_EXPIRY=12/26
STRIPE_CVC=123
STRIPE_NAME=
